@font-face {
    font-family: 'Canela';
    font-weight: 200;
    font-style: normal;
    src: url(~assets/fonts/canela-thin.ttf);
}

@font-face {
    font-family: 'Canela';
    font-weight: 300;
    font-style: normal;
    src: url(~assets/fonts/canela-light.ttf);
}

@font-face {
    font-family: 'Circular';
    font-weight: 200;
    font-style: normal;
    src: url(~assets/fonts/circular-regular.ttf);
}