// Home
.projekte {
  &__wrapper {
    position: relative;
    width:fit-content;
    height: auto;
    display: flex;
    flex-flow: row;
  }
  &__item {
    height: 400px;
    width: 400px;
    margin: 0 40px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

// Member
.clients {
  display: flex;
  justify-content: center;
  img {
    margin: 0px 40px;
  }
}

// Service 
.services {
  display: flex;
  background-color: red;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__body {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    &__list {
      flex:0 0 46%;
      &__item {
        position: relative;
        h3 {
          p {
            opacity: .7;
          }
        }
      }
    }
    &__image {
      // flex:0 0 46%;
      background-color: rgba(255,255,255,.3);
      height: 600px;
      width: 0%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.show__item {
  top: 0;
  opacity: 1;
}

// FAQ
.faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;

  &__header {

  }
  &__body {
    display: flex;
    flex-flow: row;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    &__list {
      &__item {

      }
    }
  }
}


// Phase
.phase {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  
  scroll-snap-type: y mandatory;
  overflow: scroll;
  &__section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
  }
    &__top {
    z-index: 2;
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20% 10%;
    &__left {
        flex: 0 0 48%;
        align-self: flex-start;
        &__top {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: flex-end;
          span {
            margin-bottom: 20px;
          }
        }
      }
      &__right {
        flex: 0 0 48%;
        align-self: flex-end;
        &__tags {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    &__bottom {
      z-index: 1;
      width: 100%;
      height: 100%;
      position: absolute;
    }
}

// Workflow Home
.workflow {
  position: relative;
  height: 100vh;
  width: 100%;
  &__text {
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-flow: column;
  }
  &__image {
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    z-index: 1;
    background-color: transparent;
    .grain {
      width: 100%;
      height: 100%;
      z-index: 2;
      background-image: url('~assets/src/grain.png');
      background-size: cover;
      position: absolute;
    }
    .dot {
      z-index: 1;
      background-image: url('~assets/src/dot.jpg');
      width: 800px;
      height: 800px;
      position: absolute;
      top: 180px;
      left: 400px;
      background-size: cover;
    }
  }
}

// Member
.team {
  h2 {
    // position: absolute;
    // transform: translateY(-120%);
    width: 100%;
    left: 0;
    z-index: 2;
  }
  .member__wrapper {
    display: flex;
    justify-content: space-between;
  }
}